<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

<body>
    <%- include('header'); %>
    
    <main>
        <div>
            <h1>Oi sou Matheus</h1>
        </div>
    </main>

    <%- include('footer'); %>
</body>

</html>