<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

<body class="container">
    <%- include('header'); %>
    <main>
        <div>
            <h1>Node com EJS</h1>
            <p>Trabalhar com EJS</p>
        </div>
    </main>

    <%- include('footer'); %>
</body>

</html>